<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-3 a">
           <h2 class="text-center">LINKS</h2>
            <ul>
                <ol><a routerLink="/home">HOME</a></ol>
                <ol><a routerLink="/product2">DISHES</a></ol>
                <ol><a routerLink="/productlist">PRODUCTS</a></ol>
                <ol><a routerLink="/contactus">CONTACTUS</a></ol>
            </ul>
        </div>
        <div class="col-lg-6 a">
            <h2 class="text-center">MY ADDRESS</h2>
            <p class="text-center" style="padding: 15px;margin: 15px;position: relative">
                JANE DO DHUD dsnkqledqjeoje NA PAUGE<br>
            KAFI MUSHKIL HA DHUDNA<br>jeqidqidoheiohdih
            ...........<br>
            ........<br>
            ..........<br>
            AISA HA PAKAD SAKO TOH PKAD LO
            </p>
        </div>
        <div class="col-lg-3 a">
            <h2 class="text-center">SOCIAL MEDIAS</h2>
            <a class="bton" style="font-size: larger; color: black;font: bold"><i class="fa fa-facebook"></i>FACEBOOK</a>
            <a class="btn-youtube"><i class="fa fa-youtube"></i>YOUTUBE </a>
            <a class="btn-instagram"><i class="fa fa-instagram"></i>INSTAGRAM</a>
            
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
       &copy;2001 COPYRIGHT ISSUES
</div>