.container{
    margin: 5px;
    padding: 5px;
    
}
.row {
    background:  violet;
    padding: 5px;
}
.a{
    border: 5px solid yellow;
    padding: inherit;
    text-align: left;
}
i{
    padding : 10px;
}
.bton {
    color: yellow important;
}