<p>dish-detail works!</p>
<p>home works</p>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <H1 class="text-center">HOME PAGE</H1>
        </div>
        <div class="row">
            <div class="col-lg-3 test">
                <img class="test" src={{dish.image}}>
                <div>{{dish.description}}</div>
                <p>{{dish.id}} is the id</p>
                        
            </div>
            <div class="test">
                <button (click)="goBack()">BACK</button>
            </div>
            <div class="test">
                <button (click)="goNext()">next</button>
            </div>
           
        </div>
       
        
        
    </div>
    