h3 {
    color: red;
    border: 2px solid blue;
}
p{
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
}
input.ng-empty{
    background-color: greenyellow;
}
body{
    background: url('../../assets/images/Patience-Quotes.jpg');
}
.container{
    border:5px solid yellow;
    text-align: center;
    background: chartreuse;
}