.navbar{
    color: blue;
}
img{
    width: 100%;
    

}
.jumbostron{
    color: white;
}
.a{
    border: 2px solid yellow;
}
.active{
    color: yellow;
    background-color: pink;
}
.test{
    border: 2px solid red;
}